*{ padding:0; margin:0;}
body{ font-size:14px; color:#000;font-family:'微软雅黑';background:#f7f8f9;s}
ul,ol{ list-style:none;}
a{ text-decoration:none; color:#000;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:100%;}
a img{ border:none;}
img{ vertical-align:top;}
b,strong{ font-weight:normal;}
i,em{ font-style:normal;}
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{zoom:1;}
input{ outline:none; border:none;}
textarea{ resize:none; outline:none;}
table{ border-collapse:collapse;}
td,th{ border:1px solid #CCC;}
.fl{ float:left;}
.fr{ float:right;}



/* CSS Document */

/* head背景*/




/* foot */

/* addIndex 弹出层公共样式 */
.tanBox{position:absolute;left:0;top:0;width:100%;z-index:999;}
.opaBox{width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;left:0;top:0; z-index:1;}


/*头部的公共样式-蓝底*/
.detail_t_bannerbox{width:100%;height:80px;background:#fff;min-width:1080px;}
.detail_t_banner{height:80px;background:url(../img/bg1.png) center center no-repeat;background-size:cover;}

.detail_t_menu{height:80px;width:1080px;margin:0 auto;}
.detail_t_menu h1{width:140px;height:30px;padding:20px 0;margin-left:10px;background:url(../img/logo.png) left center no-repeat;}

.detail_t_menu ul{margin-top:-40px;}

.detail_t_menu .logo a{display:inline-block;font-size:15px;color:#fff;margin-left:50px;margin-right:17px;padding-top:5px;}
.detail_t_menu input{width:305px;height:30px;background:#259cd3;color:#fff;padding-left:5px;}

.detail_t_menu .txt{position:relative;left:0;top:0;}
.detail_t_menu .txt input{display:none;}
.detail_t_menu .txt ::-webkit-input-placeholder{color:#fff;}
.detail_t_menu .btn1{width:19px;height:19px;background:url(../img/btn.png) no-repeat;position:absolute;right:5px;top:4px;}





/*头部的公共样式-白底*/
.detail_logo_bannerbox{width:100%;background:#fff;height:80px;}

.detail_title{height:80px;font-size:13px;overflow:hidden;background:#fff;}
.detail_title h1{height:68px;padding-top:13px;margin-right:60px;margin-left:10px;}
.detail_menu1 li{width:60px;height:80px;float:left;line-height:80px;margin-right:30px;text-align:center;cursor:pointer;}
.detail_log{height:80px;line-height:80px;margin:0 18px 0 46px;color:#338f7f;}
.detail_txt1{position:relative;}
.detail_txt1 input{width:314px;height:30px;padding-left:5px;padding-right:25px;margin-top:23px;background:#f7f8f9;}
.detail_txt1 span{width:19px;height:19px;background:url(../img/logo_search.png) no-repeat;position:absolute;right:8px;top:30px;cursor:pointer;}
.detail_menu1 .active{background:#f7f8f9;border-bottom:2px solid #338f7f;box-sizing:border-box;}



.tit{height:40px;line-height:40px;}
.tit p{line-height:40px;font-size:14px;}
.tit a{line-height:40px;font-size:14px;}
/*鼠标滑过时显示的颜色*/
.tit .aM{color:#2facd4;}




/*尾部*/
.footBg{width:100%;height:66px;background:#3b414f;min-width:1080px;}
.comWidth{width:1080px;margin:0 auto;}



/*弹出框*/
.alt_box{width:190px;height:40px;border:4px solid #c1bfbf;border-radius:4px;text-align:center;line-height:40px;font-size:16px;color:#333;position:fixed;left:50%;top:50%;margin-left:-95px;margin-top:-20px;background:#fff;}
.alt_msg_icon_ok{width:16px;height:16px;background:url(../img/true.png) no-repeat;position:absolute;left:15px;top:12px;}

.alt_msg_icon_error{width:20px;height:20px;background:url(../img/alt_error.png) no-repeat;position:absolute;left:8px;top:10px;}

.alt_msg_icon_info{width:20px;height:20px;background:url(../img/alt_info.png) no-repeat;position:absolute;left:8px;top:10px;}

