/* CSS Document */


/*第一个弹出框的样式*/
	.Login_Box1{width:300px;min-height:180px;border:1px solid #999;box-sizing:border-box;position:fixed;left:50%;top:50%;margin-left:-150px;margin-top:-90px;z-index:3;background:#fff;}
	.sc_tit{position:relative;width:298px;height:50px;background:#3ebfe9;text-align:center;line-height:50px;color:#fff;font-size:16px;}
	.sc_tit .sc_btn{width:17px;height:16px;background:url(icon1.png) no-repeat;position:absolute;right:10px;top:16px;cursor:pointer;}
	
	.sc_tit2{width:238px;height:90px;line-height:90px;color:#333;font-size:16px;border-bottom:1px solid #e9e9e9;position:relative;padding-left:60px;overflow:hidden;}
	.sc_tit2_1{text-align:center;line-height:20px;}
	
	
	.sc_tit2 .sc_ic1{width:14px;height:14px;background:url(c1.png) no-repeat;position:absolute;left:43px;top:39px;}
	
	.sc_tit3{line-height:37px;}
	.sc_tit3 .sc_tit3_1,.sc_tit3 .sc_tit3_2{display:inline-block;width:148px;height:37px;text-align:center; line-height:37px;color:#666;font-size:14px;}
	/*鼠标点击下去之后变背景色*/
	.sc_tit3 .sc_tit3_bg{background:#e3edef;}
	.sc_tit3 .sc_tit3_1{border-right:1px solid #e9e9e9;}
	
	 /*读后感删除读后感的弹出框*/
	 .tc_read_content{width:298px;min-height:90px;color:#333;font-size:16px;border-bottom:1px solid #e9e9e9;position:relative;}
	 .tc_read_content .tc_read_icon1{width:14px;height:14px;background:url(c1.png) no-repeat;position:absolute;left:46px;top:24px;}
	 .tc_read_tit1{padding:20px 35px 11px 68px;font-size:16px;color:#333;}
	 .tc_read_tit2{padding:0 35px 0 47px;font-size:14px;color:#999;line-height:15px;}
	
	/*第二个弹出框的样式*/
	.Login_Box2{width:720px;height:500px;border:1px solid #999;margin-left:-310px;margin-top:-250px;z-index:3;background:#fff;}
	
	.Login_Box2 .pop_head_body{height:350px;overflow-y:auto;position:relative;}
	.Login_Box2 .pop_head_body td{height:40px;}
	.Login_Box2 .pop_head_body table{width:700px; border-collapse:collapse;}
	.Login_Box2 .pop_head_body1{margin-bottom:-1px;position:relative;}
	.Login_Box2 .pop_head_body1 .pop_head_body1_close{width:16px;height:16px;background:url(close1.png) no-repeat;position:absolute;right:10px;top:10px;cursor:pointer;}
	.Login_Box2 .pop_head th{height:50px;background:#ffa025;font-size:16px;color:#666;}
	
	.Login_Box2 .pop_head_body3{width:718px;height:98px;background:#f7f8f9;}
	.pop_head_body3_box{position:relative;}
	.pop_check_Box{position:relative;}
	.pop_check_Box .pop_checkAll{position:absolute;left:33px;top:23px;cursor:pointer;width:100px;height:25px;}
	
	.pop_check_Box .pop_checkAll .pop_checkAll_backIcon{width:16px;height:16px;background:url(back1.png) no-repeat;cursor:pointer;position:absolute;left:-22px;top:-1px;}
	
	.pop_check_listBox{position:absolute;right:19px;top:19px;}
	.pop_check_list li{float:left;}
	.pop_check_list .pop_check_1{color:#2ea3fd;}
	.pop_check_list .pop_check_2{color:#37d03b;}
	.pop_head_body4{position:relative;}
	.pop_head_body4 .pop_head_bt1,.pop_head_body4 .pop_head_bt2{position:absolute;right:0;bottom:0;width:100px;height:40px;text-align:center;line-height:40px;border:1px solid #a4a4a4;box-sizing:border-box;}
	
	.pop_head_body4 .pop_head_bt1{right:138px;bottom:10px;cursor:pointer;}
	.pop_head_body4 .pop_head_bt2{right:20px;bottom:10px;cursor:pointer;}
	
	
	/*按下的颜色*/
	.pop_head_body4 .pop_head_bt_aM{background:#ffa025;border:none;}
	
	
	/*第三个弹出框的样式*/
	.Login_Box3{position:fixed;left:50%;top:50%;margin-left:-400px;margin-top:-275px;width:800px;height:550px;}
	.Login3_add_head{position:relative;height:50px;background:#3bbee9;}
	.Login3_add_head .Login3_add_tit1{font-size:20px;color:#fff;position:absolute;left:25px;top:15px;font-size:20px;cursor:pointer;}
	.Login3_add_head .Login3_add_icon1{width:17px;height:16px;background:url(icon1.png) no-repeat;position:absolute;right:15px;top:15px;cursor:pointer;}
	
	
	.Login3_add_navBox{height:50px;background:#e1eff3;position:relative;border-bottom:1px solid #c1dbe4;}
	.Login3_add_nav .Login3_add_tit1{width:120px;height:50px;text-align:center;line-height:50px;box-sizing:border-box;border-right:1px solid #c1dbe4;font-size:16px;color:#666;}
	.Login3_add_navBox .Login3_add_tit2{width:300px;height:30px;background:url(serch_bg.png) no-repeat;position:absolute;right:10px;top:10px;padding-left:15px;padding-top:3px;}
	.Login3_add_navBox .Login3_add_tit3{width:20px;height:20px;background:url(search1.png) no-repeat;position:absolute;right:37px;top:15px;cursor:pointer;}
	/*鼠标滑动的样式*/
	.Login3_add_nav .add_active{background:#fff;height:51px;cursor:pointer;}
	
	.Login_show_hide{display:none;}
	.Login_show_hide .show{display:block;}
	 
	.Login_Box3 .Login3_cont_Box{width:798px;height:380px;overflow:auto;border-bottom:1px solid #ccc;}
	.Login3_cont_list li{height:50px;line-height:35px;border-bottom:1px solid #ccc;}
	.Login3_cont_list li a{color:#666;}
	.Login3_cont_list li input{margin-left:30px;}
	.Login3_cont_list li span{float:right;line-height:50px;font-size:14px;color:#999;padding-right:15px;}
	.Login3_cont_list .box_load_more{text-align:center;border-bottom:none;}

	.pop_head_body5{top:65px;}
	.pop_head_body5 .pop_head_bt_aM1{background:#3bbee9;border:none;cursor:pointer;}
	
	
	.Login3_cont_list1 li{}
	.Login3_cont_list1 li span{float:right;line-height:50px;padding-right:40px;font-size:14px;color:#999;}
	.Login3_cont_list1 li p i{color:#999;}
	.Login3_cont_list1 li p{padding-left:50px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;padding-right:40px;font-size:14px;color:#333;cursor:pointer;}
	.Login3_cont_list1 li a{color:#666;}
	
	
	 /*弹出框5的样式*/
	.Login5_contBox{width:798px;height:380px;overflow-y:scroll;border-bottom:1px solid #ccc;position:relative;}
	.Login5_contBox_noIm{width:263px;height:125px;background:url(no_im.png) no-repeat;position:absolute;left:250px;top:150px;}
	 
	 
	 /*弹出框6的样式*/
	 .Login6_cont_list .Login6_cont_l1{height:50px;line-height:50px;border-bottom:1px solid #ccc;}
	 .Login6_cont_list .Login6_cont_l1 input{margin-left:30px;}
	 .Login6_cont_list .Login6_cont_l1 span{float:right;padding-right:45px;line-height:50px;}
	 
	 .Login6_cont_list .Login6_cont_l2{height:80px;line-height:48px;border-bottom:1px solid #ccc;}
	 .Login6_cont_list .Login6_cont_l2 input{margin-left:30px;}
	 .Login6_cont_list .Login6_cont_l2 span{float:right;padding-right:45px;line-height:50px;}
	 .Login6_cont_list .Login6_cont_l2 p{margin-left:64px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	 
	
	 
	 
	 
	 
	 /*未登录页面弹出框*/
	 
	 	.tanBox{position:absolute;left:0;top:0;width:100%;z-index:999;}
		.opaBox{width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;left:0;top:0; z-index:1;}
		.login{width:450px;height:390px; background:#fff; position:fixed; left:50%; top:50%; margin-left:-225px; margin-top:-195px;z-index:5;}
		
		.close{width:21px;height:16px;background:url(../img/icon1.png) no-repeat;position:absolute;right:5px;top:10px;z-index:1;cursor:pointer;}
	
		.login_msg{width:366px;height:334px;margin:30px 40px;position:relative;}
		.login_msg h3{font-size:22px;color:#666;margin-bottom:20px; font-family:"宋体";}
		.login_msg .borde{width:366px;border-top:1px solid #d6d6d6;}
		.login_msg input{width:322px;height:38px;border:1px solid #d6d6d6;margin-top:26px;padding-left:42px;}
		.login_msg .user{margin-top:28px;}
		.login_msg .radi{width:14px;height:14px;margin-top:13px;margin-right:5px;}
		.login_msg span,.login_msg a{margin-top:13px;font-size:13px;}
		.login_msg p{width:366px;height:40px;background:#1abc9c;text-align:center;line-height:40px;font-size:17px;color:#fff;margin-top:20px;}
		.login_msg .icon1{width:18px;height:18px;background:url(logo_user.png) no-repeat;position:absolute;left:14px;top:83px;}
		.login_msg .icon2{width:20px;height:20px;background:url(key.png) no-repeat;position:absolute;left:15px;top:149px;}
		.login_msg .icon3{width:21px;height:13px;background:url(code.png) no-repeat;position:absolute;left:14px;top:219px;}


		.login_msg .msg1,.login_msg .msg2{width:364px;height:22px;background:#f9e1e1;text-align:left;font-size:12px;color:#f86060;line-height:22px;position:absolute;left:0px;top:33px;border:1px solid #f0c8c8;}
		.login_msg .msg2{position:absolute;left:0px;top:163px;}
		.login_msg .c1{width:11px;height:11px;background:url(c.png) no-repeat;position:absolute;right:6px;top:175px;z-index:2;}
		.login_msg .c2{width:11px;height:11px;background:url(c.png) no-repeat;position:absolute;right:6px;top:44px;z-index:2;}